<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="csrf_token" content="{{ csrf_token }}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
  
        <title>
            HomeOCR
        </title>
    </head>
    <body>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
        <form method="post">
            {% csrf_token %}
            <button type="submit" class="btn btn-primary" name='upload'>upload</button><br/>
            <button type="submit" class="btn btn-secondary" name="view_upload">view previous uploads</button><br/>
            <button type="submit" class="btn btn-success" name="view_translations">view translations</button><br/>
            <button type="submit" class="btn btn-danger" name="view_summaries">view summaries</button><br/>
            <button type="submit" class="btn btn-danger" name="view_extracted">view extracted</button><br/>
        </form>
    </body>
</html>